.App {
    text-align: center;
    margin: 0 auto;
    /* background: radial-gradient(circle at 100%, rgba(82,84,164,1) 10%, rgba(247,160,130,1) 40%, rgba(178,166,215,1) 55%); */
    /* background: radial-gradient(circle at 100%, rgba(82,84,164,1) 10%, rgba(247,160,130,1) 40%, rgba(178,166,215,1) 55%); */
    /* background: radial-gradient(circle at 100%, #18191a 20%, rgba(37,42,82,1) 40%, white 55%); */
    background-image: url("../src/assets/slice3.svg");
    background-repeat: repeat;
    background-position: bottom;
    background-origin: border-box;
    background-size: 100%;
    background-attachment: fixed;
}
@media screen and (max-width: 768px) {
    .App {
        /* background-size: 150%; */
        background: radial-gradient(circle at 100%, rgba(82,84,164,1) 10%, rgba(247,160,130,1) 40%, rgba(178,166,215,1) 55%);

    }   
}